body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
body, ul {
  margin: 0;
  padding: 0;
}
nav {
  background-color: #222f3e;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top:0;
  padding-top: 0;
}

nav ul li {
  color: white;
  display: inline-block;
  margin: 0;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #222f3e;
  transition: background 0.5s ease-in-out;

}
nav ul li:hover {
  background-color: white;
  color: black;
}

nav ul {
  margin: 0 auto;
  text-align: right;
  padding: 0;
  width: 80%;
}
nav ul li a {
  text-decoration: none;
  color: white;
  transition: background 0.5s ease-in-out;
}
nav ul li a:hover {
  background-color: white;
  color: black;
}
nav img {
  width: 10%;
}
nav img, nav ul {
  display: inline-block;
}

header {
  background-image: url('../img/about.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: -700px;
  position: relative;
  top: 50px;
  height: 90vh;
  width: 100%;
}
header h2 {
  font-size: 50px;
  text-align: center;
  text-shadow: 10px 2px 30px rgba(0, 0, 0, 1);
  color: white;
  position: relative;
  top: 40%;
}
header p {
position: relative;
top: 38%;
color: white;
font-style: italic;
font-weight: lighter;
text-align: center;
}
section {
  position: relative;
  top: 5vh;

}
.section1 {
  background-color: #f7f1e3;
  height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
}

.container {
  padding-top: 5%;
  padding-left: 10%;
  margin: 0;
}
.col {
  padding: 2%;
}
.col img {
  width: 20%;
  margin: 0 40%;
}
.col h3 {
  text-align: center;
  font-size: 25px;
  font-weight: 1000;
  margin-top: 6%;

}
.col p {
  text-align: center;
  font-size: 17px;
  font-style: italic;
}
.story {
  height: 120vh;
}
.story img {
  width: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 47%;
}
.story h3 {
  text-align: center;
}
.story p {
  text-align: center;
  line-height: 22px;
  margin: 0 20%;
  font-size: 16px;
}
.faq {
  height: 100vh;
  background-color: #222f3e;
  color: white;
}
.container {
  margin: 0;
  padding: 0;
  }
.faq img {
  width: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 47%;
}
.faq h3 {
  color: white;
  text-align: center;
}
.faq h4 {
  font-size: 20px;
}
.faq p {
  font-size: 14px;
}
.faqq {
  background-color: #576574;
  border: 1px solid black;
  border-radius: 15px;
  transition: background 0.5s ease-in-out;
  margin-top: 5%;
}
.faqq:hover {
  background-color: #8395a7;
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.8);

}
.question {
  padding: 2%;
}
.question:hover {
  cursor: pointer;
  color: black;
}
.answer {
  display: none;
  list-style: none;
  text-align: center;
  font-weight: 1000;
  font-size: 16px;
}
.answer_item {
  padding-left: 0;
  color: white;
  font-style: italic;
  line-height: 20px;
  padding-top: 2%;
  padding-bottom: 2%;
}
.faqq:hover .answer {
  display: block;
}
footer {
  position: relative;
  top: 0px;
  background-color:black;
  color: white;
  height: 30vh;
}
footer.container {
  margin-bottom: 0;
  padding-bottom: 0;
}
footer h3 {
  font-size: 35px;
  padding-top: 15px;
  text-align: center;
}
footer p {
  font-size: 15px;
  text-align: center;
}
.p1 {
  font-style: italic;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 50px;
  text-align: center;
  font-size: 12px;
}
@media screen and (max-width : 500px)
{
  nav img, nav ul {
    display: block;
  }
  nav img {
    position: relative;
    left: 40%;
    width: 30%;
  }
  nav ul {
    text-align: center;
    margin-left: 5%;
    margin-right: 0;
    display: inline;
  }
  nav ul li {
    font-size: 10px;
  }
  header {
    background-position-y: -30px;
  }

header h1 {
  font-size: 70px;
  margin: 20px;
}
section h2 {
    font-size: 30px;
  }
   p {
     font-size: 15px;
  }
  .section1 {
    height: 110vh;
}
.story {
height: 220vh;

}
.story img {
  width: 15%;
}
.faq {
  height: 120vh;
}
.container {
  width: 100%;
}
.faq .col {
  width: 50%;
  margin-left: 20px;
  margin-right: 20px;
}
}
@media screen and (min-width : 500px) and (max-width : 700px)
{
  nav img, nav ul {
    display: block;
  }
  nav img {
    position: relative;
    left: 40%;
    width: 20%;
  }
  nav ul {
    text-align: center;
    display: inline;
  }
  header {
    background-position-y: -50px;
  }
  .story {
    height: 190vh;
  }
  .story img {
    width: 15%;
  }
}
@media screen and (max-width : 997px) {
  section {
    height: 210vh;
  }
  .col {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 550px) {
  header {
    position: relative;
    top: 70px;
  }

}
