body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
body, ul {
  margin: 0;
  padding: 0;
}
nav {
  background-color: #222f3e;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top:0;
  padding-top: 0;
}

nav ul li {
  color: white;
  display: inline-block;
  margin: 0;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #222f3e;
  transition: background 0.5s ease-in-out;

}
nav ul li:hover {
  background-color: white;
  color: black;
}

nav ul {
  margin: 0 auto;
  text-align: right;
  padding: 0;
  width: 80%;
}
nav ul li a {
  text-decoration: none;
  color: white;
  transition: background 0.5s ease-in-out;
}
nav ul li a:hover {
  background-color: white;
  color: black;
}
nav img {
  width: 10%;
}
nav img, nav ul {
  display: inline-block;
}
header {
  top: 40px;
  position: relative;
  text-align: center;
  background-image: url('../img/header-img.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: -500px;
  width: 100%;
  height: 90vh;
  color: #2e86de;
}
header h1 {
  font-size: 50px;
  text-align: center;
  text-shadow: 10px 2px 30px rgba(0, 0, 0, 1);
  color: white;
  position: relative;
  top: 20%;
  text-transform:capitalize;
  font-weight: bold;

}
header a {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 25px;
  padding: 2vh;
  color: #2e86de;
  background-color: #222f3e;
  transition: background 0.5s ease-in-out;
  font-size: 30px;
  position: relative;
  top: 40%;
}
header a:hover {
  color: white;
  background-color: black;
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.8);
}
section {
  position: relative;
  top: 6vh;
  background-color: #f1f2f6;
  height: 150vh;
  width: 100%;
}
section h2 {
  font-size: 50px;
  color: black;
  font-style: italic;
  padding-top: 20px;
  text-align: center;
}
section p {
  color: black;
  text-align: center;
}
#box1 {
  padding-top: 30px;
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 1);
  height: 60vh;
  width: 30%;
  border: 1px solid black;
  border-radius: 25px;
  min-height: 50vh;
}
#box1 h2 {
  background-color: black;
  color: white;
  text-align: left;
  font-size: 30px;
  margin-left: -5%;
  font-style: normal;
}
#box1 img, #box2 img {
  margin-top: 0;
  padding-top:0;
  padding-bottom: 3%;
  width: 15%;
}
#box2 {
  padding-top: 30px;
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 1);
  height: 60vh;
  width: 35%;
  border: 1px solid black;
  border-radius: 25px;
  background-color: #8395a7;
}
#box2 h2 {
  background-color: black;
  color: white;
  text-align: right;
  font-size: 28px;
  margin-right: -3%;
  font-style: normal;
}
.container {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 50px;
  text-align: center;
  height: 120vh;
}
.button {
  border: 1px solid black;
  border-radius: 15px;
  padding: 5%;
  color: #c8d6e5;
  background-color: #8395a7;
  transition: background 0.5s ease-in-out;
  font-size: 30px;
  width: 25%
}
.button:hover {
  color: white;
  background-color: #576574;
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.8);
}

section a {
  text-decoration: none;
  padding: 0;
}
footer {
  position: relative;
  top: 60px;
  background-color:black;
  color: white;
  height: 30vh;
}
footer.container {
  margin-bottom: 0;
  padding-bottom: 0;
}
footer h3 {
  font-size: 35px;
  padding-top: 15px;
  text-align: center;
}
footer p {
  font-size: 15px;
  text-align: center;
}
.p1 {
  font-style: italic;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 50px;
  text-align: center;
  font-size: 12px;
}
@media screen and (min-width : 500px) and (max-width : 990px)
{
  html{
    width: 100%;
  }
  body {
    width: 100%;
  }
  nav {
    width: 100%;
  }

  section p {
    font-size: 14px;
  }
  header {
    width: 100%;
  }


  section {
    height: 170vh;
  }

  #box1 h2, #box2 h2 {
    font-size: 20px;
  }
  #box1, #box2, .button{
    display: block;
  }
  .button {
    width: 90%;
    height: 10vh;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 180px;
  }

  #box1{
    height: 60vh;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 90px;
    width: 60%;

  }
   #box2 {
    height: 40vh;
    width: 60%;
    margin-left: 90px;
    margin-top: 20px;
  }
}
@media screen and (min-width : 500px) and (max-width : 700px)
{
  nav img, nav ul {
    display: block;
  }
  nav img {
    position: relative;
    left: 40%;
    width: 20%;
  }
  nav ul {
    text-align: center;
    display: inline;

  }
  header {
    background-position-y: 100px;
  }

}
@media screen and (max-width : 500px) {
  nav img, nav ul {
    display: block;
  }
  nav img {
    position: relative;
    left: 40%;
    width: 30%;
  }
  nav ul {
    text-align: center;
    display: inline;
  }
  nav ul li {
    font-size: 10px;
  }
  header {
    background-position-y: 100px;
  }
  header h1 {
    font-size: 40px;
  }
  header a {
    position: relative;
    top : 20vh;
  }
  section {
    height: 180vh;
  }
  section p {
    font-size: 14px;
  }
  .container {
    height: 90vh;
  }
  #box1, #box2, .button{
    display: block;
  }
  .button {
    width: 190px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
  }

  #box1{
    height: 63vh;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 90px;
    width: 60%;

  }
   #box2 {
    height: 46.5vh;
    width: 60%;
    margin-left: 90px;
    margin-top: 20px;
  }
footer {
  position: relative;
  top: 6vh;
}

  }
@media screen and (max-width:400px) {
  header  a {
    position: relative;
    top: 20vh;
  }
  section {
    height: 200vh;
  }
  #box1 {
    height: 70vh;
  }

  #box2 {
    height: 55vh;
  }
  .button {
    text-align: center;
    width: 150px;
    margin-left: 100px;
  }
}
@media screen and (max-width: 320px) {
  header h1 {
    font-size: 35px;
  }
  section h2 {
    font-size: 30px;
  }
  #box1 {
    height: 80vh;
  }
  #box2 {
    height: 60vh;
  }
}
