body {
  font-family: 'Monserrat Alternates', sans-serif;
}
header {
  height: 80vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../img/background.png');
  background-position:bottom;
}
header h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 20vh;
  color: #f7f1e3;
  text-shadow: 10px 2px 30px rgba(0, 0, 0, 1);

}
.discover {
  width: 200px;
  height: 8vh;
  font-size: 35px;
  border-radius: 25px;
  margin-left: 40%;
  position: absolute;
}
.discover:hover {
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.8);
  color: black;
  background-color: #f7f1e3;
}
nav button img {
  width: 20px;
  margin: auto;
}
nav {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20px;
}


section {
  height: auto;
  text-align: center;

}
section h2 {
  padding-top: 50px;
  padding-bottom: 50px;

}

.sectionA {
  background-color: #f7f1e3;
  font-family: 'Montserrat Alternates', sans-serif;
}
.container-fluid {
  width: 70%;
  padding-top: 20px;

}
.sectionA button {
  margin-top: 15px;
  margin-bottom: 30px;
}
.howitworks {
  width: 60px;
  margin:auto;
}
.col {
  padding: 0;
  margin: 0;
}
.vl {
  border-left: 2px solid lightgray;
  height: 100px;

}
.sectionC {
  background-color: black;
  color: white;
}
.sectionC img {
  width: 70px;
}
.sectionC a {
  text-decoration: none;
  color: white;
}
footer {
  height: auto;
  width: 100%;
  background-color: #3d3d3d;
  font-family: 'Montserrat Alternates', sans-serif;
  position: absolute;
}
footer p {
  color: white;
}
.container.footer {
  padding-top: 50px;
  width: 70%;

}
.container {
padding: auto;
}

hr.solid {
   border-top: 3px solid #bbb;
   width: 50%;
   margin: 30px auto;

}
